body {
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
}

.container-fluid {
  max-width: 1270px;
}

.ft-36 {
  font-size: 36px;
} 

.ft-20 {
  font-size: 20px;
} 

.ft-10 {
  font-size: 10px;
} 

.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}

.publication-title {
  font-family: "Signika Negative","Signika Negative-fallback","Open Sans","Open Sans-fallback",system-ui,sans-serif !important;
  font-weight: 700;
}

.small-title {
  font-weight: 700;
}

.section-name {
  font-weight: 700;
}

.bookmark-text {
  font-size: 12px;
  font-weight: 600;
}

.main-navbar {
  height: 80px;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-logo {
  height: 80px;
}
.bg-red {
  background-color: #ed002d;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.bg-black {
  background-color: rgb(44, 44, 44);
}

.text-gray {
  color: rgb(151, 151, 151);
}

.text-black {
  color: rgb(20, 20, 20);
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  .main-navbar {
    height: 70px;
  }
  .navbar-logo {
    height: 70px;
  }
  .ft-36 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .main-navbar {
    height: 50px;
  }
  .navbar-logo {
    height: 50px;
  }
  .ft-36 {
    font-size: 24px;
  }
  .ft-20 {
    font-size: 18px;
  }
}
