body {
  margin: auto;
  width: 75%;
}
.card-body, .text-center {
  background-color: rgb(44, 44, 44);
}
#nav-logo {
  height: 162px;
  height: 80px;
}

.upper-nav {
  background-color: #ed002d;
  height: 80px;
}

.container {
  margin: auto;
  width: 75%;
}
